<footer>
        © 2018 - Striking Minds
    </footer>
    <script src="js/main.js"></script>    
<script>
    var $ = jQuery;
    $(document).ready(function() {

        //dynamic image
        var jqxhr = $.getJSON('data.json',function(){

        }).done(function(data){
            var template = $('#template').html();
            var showTemplate = mustache.render(template, data);
            $('#innerBanner').html(showTemplate);       
        });    

        var pathname="";
        if (window.location.href.indexOf("about.html") > -1){ 
            pathname = "About Us";
        }else if(window.location.href.indexOf("whyweare.html") > -1){
            pathname = "Why We Are Different";
        }else if(window.location.href.indexOf("hrpolicy.html")> -1){
            pathname = "HR Connect";
        }else if(window.location.href.indexOf("sales.html")> -1){
            pathname = "Sales & Marketing";
        }else if(window.location.href.indexOf("supply.html")> -1){
            pathname = "Supply Chain";
        }else if(window.location.href.indexOf("procurement.html")> -1){
            pathname = "Procurement";
        }else if(window.location.href.indexOf("hrmanagement.html")> -1){
            pathname = "HR Management";
        }else if(window.location.href.indexOf("bdm.html")> -1){
            pathname = "Business Process Management";
        }else if(window.location.href.indexOf("personality.html")> -1){
            pathname = "Personality Enrichment & Grooming";
        }else if(window.location.href.indexOf("testimonial.html")> -1){
            pathname = "Testimonial";
        }
        
        $('.main-nav').html('<ul><li class="active"><a href="#">'+pathname+'</a></li><li><a href="index.html">Back</a></li></ul>');    
    })


</script>
</body>
</html>