.theme-red-button{
    padding: 15px 54px;
    font-size: 20px;
    color: $white;
    background: $theme-red;
    text-decoration: none;
    display: inline-block;
    @include roundedCorners(3);
    &:hover{
        background: $theme-red-hover;
        color: $white;
        text-decoration: none;
    }
}
.theme-white-tranparent-button{
    padding: 10px 54px;
    font-size: 20px;
    color: $white;
    background: transparent;
    border: 1px solid $white;
    text-decoration: none;
    display: inline-block;
    @include roundedCorners(3);
    &:hover{
        background: $white;
        color: $black;
        text-decoration: none;
    }
}
.link-text{  
    color: $theme-red;
    text-decoration: none;
    font-size: 16px;
    &:hover{
        color: $theme-red-hover;        
        text-decoration: none;
    }
}

.close-button {
    $size: 50px;
    height: $size;
    width: $size;
    position: relative;
    box-sizing: border-box;
    line-height: $size;
    display: inline-block;

    &:before, &:after {
        $width: 40px;
        $height: 3px;
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height/2;
        margin-left: -$width/2;
        display: block;
        height: $height;
        width: $width;
        background-color: rgb(20, 20, 20);
        transition: all 0.25s ease-out;
    }

    &:after {
        transform: rotate(-135deg);
    }

    &:hover {

        &:before, &:after {
            transform: rotate(0deg);
        }
    }
}
:focus{
    outline: none;
}