.row-eq-height {
    @include breakpointMin(767){
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        [class*="col-"] {
            padding-top: 15px;
            padding-bottom: 15px;        
            border: 1px solid $light-gray;
        
        }
    }
}
.no-padding {
    padding: 0px !important;    
}
.no-border{
    border: none !important;
}